.cart-section{
    display: scroll;
    background-color: lightgrey;
    padding: 5px;
    margin: 15px;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}